.hardwareContainer{
    background-color: aliceblue;
    height: 100vh;
}

.hardwareHeader{
    display: flex;
    padding: 20px;
    align-items: center;
}

.hardwareContent{
    padding: 0px 30px;
}

.hardwareFooter{
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
}

.hardwareDelete {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}